.sectionContainer--maxWidth {
  padding: 0;
}
.aboutUs__container {
  display: flex;
  justify-content: space-between;
  transition: all ease 0.5s;
}

.mergedSections {
  background-image: linear-gradient(315deg, #2234ae 0, #191714 74%);
}
.aboutUs__backgroundImg {
  background-image: url(/iStock-1917354201.jpg);
  object-fit: cover;
  width: 40%;
  background-position: center;
  background-size: 550px;
  background-repeat: no-repeat;
  opacity: 1;
  transition: 0.2s;
}
.aboutUs__header {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin: 50px;
  transition: all ease 0.5s;
}

@media only screen and (max-width: 600px) {
  .aboutUs__header {
    margin-left: 10px;
    transition: all ease 0.5s;
  }
}

.aboutUs__experienceBlock {
  display: flex;
  flex-direction: column;
  gap: 80px;
  height: 100%;
  color: #fff;
  margin: 120px auto;
  transition: all ease 0.5s;
}
.aboutUs__content {
  line-height: 1.7;
  font-size: 15px;
  color: #fff;
  width: 80%;
  transition: all ease 0.5s;
}

.ourClients__contentContainer {
  margin-left: 50px;
  transition: all ease 0.5s;
}

@media only screen and (max-width: 600px) {
  .ourClients__contentContainer {
    margin-left: 10px;
    transition: all ease 0.5s;
  }
}

.aboutUs__contentBox {
  display: flex;
  gap: 20px;
}
.aboutUs__heading {
  font-size: 36px;
  margin: 0 0 20px;
  transition: 0.5s;
}
@media only screen and (max-width: 450px) {
  .aboutUs__heading {
    font-size: 26px;
    transition: 0.5s;
  }
}
.bullet {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #2234ae;
  transition: 0.5s;
}

.aboutUs__imageModalWrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
}

@media only screen and (max-width: 1000px) {
  .aboutUs__imageModalWrapper {
    width: 90%;
    gap: unset;
    transition: all ease 0.5s;
  }
}

.aboutUs__mainContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  transition: all ease 0.5s;
}

@media only screen and (max-width: 1000px) {
  .aboutUs__mainContainer {
    width: 95%;
    transition: all ease 0.5s;
  }
}

.aboutUs__contentTitle > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs__contentTitleIcon {
  display: none;
}

@media only screen and (max-width: 555px) {
  .aboutUs__contentTitleIcon {
    width: 50px;
    display: block;
  }
}

@media only screen and (max-width: 1000px) {
  .aboutUs__contentTitle {
    max-width: 300px;
    margin: 0 auto;
  }
}

.aboutUs__contentTitle > h3 {
  font-size: 30px;
  text-align: center;
  transition: all ease 0.5s;
}

@media only screen and (max-width: 1000px) {
  .aboutUs__contentTitle > h3 {
    font-size: unset;
    transition: all ease 0.5s;
  }
}

@media only screen and (max-width: 555px) {
  .aboutUs__contentTitle > h3 {
    font-size: 25px;
    transition: all ease 0.5s;
  }
}

.aboutUs__containerContent {
  width: 80%;
  margin: 0 auto;
  transition: all ease 0.5s;
}

@media only screen and (max-width: 1000px) {
  .aboutUs__content {
    font-size: 12px;
    transition: all ease 0.5s;
  }
}

@media only screen and (max-width: 555px) {
  .aboutUs__content {
    font-size: 15px;
    transition: all ease 0.5s;
  }
}

.aboutUs__img {
  width: 450px;
  border-radius: 15px;
}

@media only screen and (max-width: 1000px) {
  .aboutUs__img {
    width: 350px;
  }
}

@media only screen and (max-width: 700px) {
  .aboutUs__img {
    width: 250px;
  }
}

@media only screen and (max-width: 555px) {
  .aboutUs__img {
    display: none;
  }
}

.aboutUs__contentContainer {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 20px;
  text-align: center;
}
