.contact__upperSection {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  top: 110px;
  z-index: 2;
}

@media only screen and (max-width: 555px) {
  .contact__upperSection {
    top: 172px;
    flex-direction: column;
    align-items: center;
  }
}

.contact__bottomSection {
  width: 100%;
  background-image: linear-gradient(315deg, #2234ae 0, #191714 74%);
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-bottom: 120px;
}

@media only screen and (max-width: 950px) {
  .contact__bottomSection {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.contact__card {
  width: max-content;
  padding: 30px;
  background-color: #fff;
  box-shadow: 1px 1px 2px 1px #7c7c7c;
  border-radius: 15px;
  transition: all ease 0.5s;
}

@media only screen and (max-width: 555px) {
  .contact__card {
    display: none;
  }
}

.contact__card:hover {
  scale: 1.02;
  cursor: pointer;
  transition: all ease 0.5s;
}

.contact__cardInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 555px) {
  .contact__cardInner {
    flex-direction: row;
  }
}

.contact__cardIcon {
  width: 40px;
  color: #000;
  fill: #ddd;
}

.contactCards__mobileImg {
  width: 30px;
}

.additionalContactInfo__mobile {
  display: none;
}

@media only screen and (max-width: 555px) {
  .additionalContactInfo__mobile {
    display: flex;
  }
}

.contactCards__mobileUl {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  padding: 0;
}

.contactCards__mobileLi {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
  color: #fff;
  padding: 15px 0px;
  border-radius: 12px;
  font-weight: 300;
}

.contact__cardTitle {
  text-transform: uppercase;
  font-size: 15px;
  padding: 0;
  margin: 0;
  font-weight: 900;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group {
  position: relative;
  margin-top: 45px;
}

.input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 400px;
  border: none;
  border-bottom: 1px solid #eeeded;
  background: none;
  color: #fff;
  transition: all ease 0.5s;
}

@media only screen and (max-width: 555px) {
  .input {
    width: 280px;
    transition: all ease 0.5s;
  }
}

.textarea {
  resize: vertical;
  height: 100px;
  min-height: 100px;
  max-height: 300px;
}

.input:focus {
  outline: none;
}

.label {
  color: #eeeded;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus ~ label,
.input:valid ~ .label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

.bar {
  position: relative;
  display: block;
  width: 400px;
  transition: all ease 0.5s;
}

@media only screen and (max-width: 555px) {
  .bar {
    width: 280px;
    transition: all ease 0.5s;
  }
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.contact__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  transition: all ease 0.5s;
}

@media only screen and (max-width: 950px) {
  .contact__wrapper {
    margin-top: 60px;
    transition: all ease 0.5s;
  }
}

@media only screen and (max-width: 555px) {
  .contact__wrapper {
    margin-top: 10px;
    transition: all ease 0.5s;
  }
}

.contact__wrapper--left {
  gap: 40px;
}

@media only screen and (max-width: 950px) {
  .contact__wrapper--left {
    width: 100%;
  }
}

@media only screen and (max-width: 950px) {
  .contact__wrapper-right {
    margin: 0;
  }
}

.contact__heading {
  font-size: 35px;
  color: #fff;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  text-align: center;
  align-self: flex-start;
  font-weight: 300;
}

@media only screen and (max-width: 950px) {
  .contact__heading {
    align-self: center;
  }
}

.contact__content {
  display: block;
  width: 80%;
  line-height: 1.6;
  color: #e2e1e1;
  align-self: flex-start;
}

@media only screen and (max-width: 950px) {
  .contact__content {
    align-self: center;
  }
}

.socialIconsGroup {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
}

@media only screen and (max-width: 950px) {
  .socialIconsGroup {
    justify-content: center;
  }
}

.socialIconsGroup__icon {
  width: 20px;
}

.contact__submitBtn {
  width: 200px;
  margin-top: 45px;
  width: 200px;
  border: none;
  padding: 12px;
  cursor: pointer;
  align-self: flex-end;
  background-color: #1b1816;
  color: #fff;
  border-radius: 6px;
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 1.9px;
  transition: all ease 0.5s;
}

.contact__submitBtn:hover {
  scale: 1.02;
  transition: all ease 0.5s;
}

.linespace {
  display: none;
  width: 80%;
  height: 1px;
  background-color: rgb(255, 255, 255);
}
@media only screen and (max-width: 950px) {
  .linespace {
    display: block;
  }
}
