.footer {
  background-color: #0b3155;
  width: 100%;
  position: absolute;
  color: #ffffffb2;
  font-family: Lato;
  z-index: 999;
}

.footer__row {
  display: flex;
  margin: 50px;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.socialIcons {
  display: flex;
  margin-top: 10px;
  gap: 20px;
}

.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.footer__requestBtn {
  background: none;
  border: 1px solid #fff;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  scale: 1;
  transition: scale 0.5s;
}

.footer__requestBtn:hover {
  scale: 1.1;
}

.copyright {
  display: block;
  color: #c5c4c3;
  font-size: 12px;
  margin: 15px;
}

.footer__logo {
  width: 150px;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
