.header__background {
  background-color: #2234ae;
  background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 25px;
  flex-direction: column;
}

.header__h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  margin: 0 20px;
}

@media only screen and (max-width: 500px) {
  .header__h1 {
    font-size: 25px;
  }
}

.header__line {
  display: block;
  width: 30%;
  height: 1px;
  border: 1px solid;
}

.header_btnLink {
  margin-top: 20px;
  min-width: 220.52px;
  min-height: 56px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  border: 2px solid #fff;
  transition: all linear 0.5s;
}

@media only screen and (max-width: 500px) {
  .header_btnLink {
    font-size: 15px;
    min-width: 220.52px;
    min-height: 46px;
    border: 1px solid #fff;
  }
}

.header_btnLink:hover {
  scale: 1.04;
}

.header_btn {
  font-size: 20px;
  padding: 0 10px;
  color: #fff;
}

@media only screen and (max-width: 500px) {
  .header_btn {
    font-size: 15px;
  }
}

.arrow__header {
  transition: all 0.5s linear;
}

.header_btnLink:hover .arrow__header {
  transform: translateX(10px);
}