html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.sectionContainer {
  margin: 15px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 2px 2px rgb(230, 230, 230);
  border-radius: 5px;
}
