html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
a,
ul {
  text-decoration: none;
  color: unset;
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}
.sectionContainer {
  background-color: #fff;
  border-radius: 5px;
}
.heading__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* padding-top: 80px; */
  width: 90%;
  margin: 0 auto;
}
.border-corner {
  font-size: 45px;
  text-align: center;
  position: relative;
  padding: 10px 25px;
  margin: 60px 10px;
}
.border-corner::after,
.border-corner::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  pointer-events: none;
  border-radius: 3px;
}
.border-corner::before {
  top: 0;
  left: 0;
  border-left: 8px solid #2234ae;
  border-top: 8px solid #2234ae;
}
.border-corner::after {
  bottom: 0;
  right: 0;
  border-right: 8px solid #2234ae;
  border-bottom: 8px solid #2234ae;
}

.border-corner--white {
  color: #fff;
}

.border-corner--white::after,
.border-corner--white::before {
  border-color: #fff;
}

@media only screen and (max-width: 700px) {
  .border-corner {
    font-size: 30px;
  }
}

.headings {
  color: #fff;
}

.line--shorter {
  width: 80%;
  margin: 15px 0;
}
