html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  font-family: "Lato", sans-serif;
}

.sectionContainer {
  background-color: #fff;
  box-shadow: 2px 2px 2px rgb(230, 230, 230);
  border-radius: 5px;
  padding-bottom: 40px;
}

.heading__wrapper {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.heading__bullet {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #2234ae;
}